*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.area-page {
    display: grid;
    grid-template-areas:
        'header header header'
        'aside main main'
        'footer footer footer';
        grid-template-rows: auto 2fr auto;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        width: 100%;
        min-height: 100vh;
        background-color: gray;
}

.area-page header {
    grid-area: header;
    background-color: lightgrey;
}
.area-page aside {
    grid-area: aside;
    background-color: lightgrey;
}
.area-page main {
    grid-area: main;
    background-color: lightgrey;
}
.area-page footer {
    grid-area: footer;
    background-color: lightgrey;
}
.header-container{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;

  background-color: lightgrey;  
} 

.aside-container{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;

  background-color: lightgrey;  
} 

.main-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  height: 30%;
  margin: 10px;
  background-color: lightgrey;
  
} 
.footer-container{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  gap: 10px;

  background-color: lightgrey;
} 

@media(max-width: 768px){
  .area-page {
    grid-template-areas:
        'header'
        'main'
        'aside'
        'footer';
    grid-template-rows: auto 2fr auto auto;
    grid-template-columns: 1fr;
  }
}